@if(!showform) {
    <button class="btn btn-primary" (click)="showForm();">Cadastrar</button>
}@else {
    <button class="btn btn-danger" (click)="showForm();">Fechar</button>
}

<form (ngSubmit)="onSubmit();" *ngIf="showform" [formGroup]="formulario">
    <div>
        <label for="text">Nome da Regiao</label>
        <input type="text" 
                name="text" 
                class="form-control" 
                placeholder="Nome da Regiao" 
                id="nmRegiao" 
                [(ngModel)]="nome"
                formControlName = "nome">
        @if(formulario.get('nome').hasError('required') && formulario.get('nome').touched) {
            <p class="alert alert-warning">O campo nome é obrigatorio.</p>
        }
        @if(formulario.get('nome').hasError('minlength') && formulario.get('nome').touched) {
            <p class="alert alert-warning">O campo nome precisa conter pelo menos 3 caracteres.</p>
        }
    </div>
    <div class="mb-4">
        <label for="cidade">Cidade</label>
        <select name="cidade" id="nmCidade" class="form-select" [(ngModel)]="cidade">
            <option value="">Selecione a cidade</option>
            <option value="São Paulo">São Paulo</option>
            <option value="Curitiba">Curitiba</option>
            <option value="Bahia">Bahia</option>
            <option value="Piauí">Piauí</option>
            <option value="Santa Catarina">Santa Catarina</option>
        </select>
    </div>

    <input type="submit" value="Adicionar" class="btn btn-secondary mb-4">
</form>